.idea
gen/

.gradle
gradle
gradlew
gradlew.bat

node_modules

# OSX
#
.DS_Store

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

*.tgz

*.xcuserstate

xcuserdata
