example
.git
*.DS_Store
.DS_Store
*Thumbs.db
.gradle
.idea
*.iml
npm-debug.log
node_modules
android/build
local.properties
android/gradle/wrapper
gradlew
*.swp
*.bat
/ios/**/*xcuserdata*
/ios/**/*xcshareddata*
*.log
