version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      # Prefix all commit messages with "npm: "
      prefix: "npm"
    ignore:
      - dependency-name: "*"
        paths:
          - "docs/**"
          - "example/**"
